button {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  background-color: #e0e0e0;
  color: #333333;
  
  transition: 0.5s;
}

.btn-login:hover {
  background-color: #4ca3ff;
  color: #ffffff;
  transform: scale(1.1);
}

.btn-register:hover {
  background-color: #2ecc71;
  color: #ffffff;
  transform: scale(1.1);
}

.btn-submit:hover {
  background-color: #9b59b6;
  color: #ffffff;
  transform: scale(1.1);
}

.btn-save:hover {
  background-color: #f1c40f;
  color: #000000;
  transform: scale(1.1);
}

.btn-delete:hover {
  background-color: #e74c3c;
  color: #ffffff;
  transform: scale(1.1);
}
